canvas{
    background-color:#777777;
    display:block;
    position:absolute;
}
body{
    background-color: #777777;
}
.container{
    width:auto;
    text-align:center;
    background-color:#ff0000;
}
